body {
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow-y: auto;
    margin: 0;
    font-family: 'Lucida Handwriting';
    color: darkred;
}

.images {
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #ccc;
    display: flex;
    gap: 10px;
    max-width: 95%;
    box-sizing: border-box;
    overflow: auto;
    margin-top: 20px;
}

.images > img {
    max-width: 200px;
    object-fit: contain;
}

.vat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
}

#amount {
    width: 100px;
}