body {
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow-y: auto;
}

.images > img {
    max-width: 200px;
}